body{
    background-image: linear-gradient(to bottom, #FFA500, #FFC107, #FFD54F, #FFE082, #FFECB3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1{
    margin-top: 2%;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    max-width: 955px;
    border:2px solid red;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 24px;
}

.message {
    background-color: #FFECB3;
    width: auto;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid salmon;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    margin: auto;
    max-width: 1030px;
    width: 100%;
}

#messageInp{
    width: 76%;
    border: 2px solid #FFA500;
    border-radius: 6px;
    height: 32px;
    padding: 0 14px;
    flex-grow: 1;
    font-size: 0.95rem;
    line-height: 2.4rem;
    vertical-align: middle;
    background-color: #FFECB3;
    color: #666666;
}
  
.btn{
    margin-left: 2%;
    cursor: pointer;
    background-color: #2bff60;
    border: 2px solid #0c7125;
    border-radius: 6px;
    height: 34px;
    width: 12%;
    color: #0c7125;
}
.btn:hover{
    cursor: pointer;
    background-color: #74d48c;
    border: 2px solid #0c7125;
    border-radius: 6px;
    height: 34px;
    width: 12%;
    margin-left: 2%;
    color: #0c7125;
}
